/* My custom CSS */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 2em 1em 2em 1em;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.textField {
  border: none;
  border-bottom: 1px solid black;
  margin-right: 1rem;
}

ul.ep-listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hr-list {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 1px dotted #ccc;
}

.episode {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.ep-title {
  display: flex;
  align-items: baseline;
}

.ep-desc {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

footer a {
  color: cadetblue;
}

img {
  height: auto;
  width: 100%;
  max-width: 600px;
}

audio {
  width: 100%;
  max-width: 600px;
  margin: 1rem 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}