%- include header.html

    <section>
      <header>
        <h1>Welcome to PR Podcast</h1>
      </header>

      <p>PR podcast is an <strong>interview podcast with open source creators</strong>.</p>
      <p>You can listen to each episode in our <a href="https://t.me/prpodcast">Telegram channel</a> or you can
        subscribe to our mailing list to receive an
        email after each episode is published.</p>

      <div class="email-form">
        <form action="/subscribe" method="get" onsubmit="return captureSubscribe()">
          <input type="text" class="textField" id="email-addr" name="email-addr" onclick="clearEmail()" placeholder="Email">
          <input type="submit" class="btn" id="subscribe-button" value="Subscribe">
        </form>
      </div>

      <p>
        For updates and news, follow PR Podcast on <a href="https://twitter.com/PRPodcast01/">Twitter</a>.
      </p>
    </section>

    <section class="episodes">
      <header>
        <h2>List of episodes</h2>
      </header>
      <ul class="ep-listing">

      % for (let ep of episodes) {
        <li class="episode">
          <div class="ep-title">
            <a href="${ep.repoUrl}"><code>${ep.title}</code></a>
            <hr class="hr-list">
            <time class="time publish-date">${ep.publishDate}</time>
          </div>
          <div class="ep-desc">
            ${ep.description}
            <a class="ep-link" href="${ep.url}">Listen</a>
          </div>
        </li>
        % }

      </ul>
    </section>

%- include footer.html